@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800|PT+Serif:400,400i);
@font-face {
  font-family: icomoon;
  src: url(fonts/icomoon.eot?hf7wph);
  src: url(fonts/icomoon.eot?hf7wph#iefix) format("embedded-opentype"), url(fonts/icomoon.ttf?hf7wph) format("truetype"), url(fonts/icomoon.woff?hf7wph) format("woff"), url(fonts/icomoon.svg?hf7wph#icomoon) format("svg");
  font-weight: 400;
  font-style: normal
}


