a{
  color: var(--c-link);
}
.btn {
  font-family: var(--font-titles);
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 0;
  height: 58px;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
  border-color: #062C4A;
  background: #fff;
  color: var(--c-main);
  &:hover {
    background-color: #062C4A;
    border-color: #062C4A;
    color: #FFFFFF;
  }
  &:focus, &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &.btn-primary {
    background-color: #00338D;
    border-color: #00338D;
    color: #fff;
    &:hover{
      background-color: #062C4A;
      border-color: #062C4A;
      color: #FFFFFF;
    }
    &.disabled, &:disabled {
      color: #c0c0c0;
      background-color: #f0f0f0;
      border-color: #f0f0f0;
    }
  }
}
.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
