body {
  font-family: var(--font-body);
  font-size: var(--body-text-m)
}
h1 {
  font-family: var(--font-titles);
  font-size: 1.25rem;
  font-weight: 800;
  padding: 34px 0;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px){
  h1 {
    font-size: 2.25rem;
    padding: 40px 0 ;
  }
  body {
    font-size: var(--body-text-l);
  }
}
