<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link id="favicon" rel="shortcut icon" href="../images/favicon.ico" type="image/png" />
</head>
<body>
<div id="wrapper" class="home">
  <header id="header">
    <a id="logo" href="index.html" title="Ir a la portada">
      <img src="images/logo-dbet.png" alt="Logo DisasterBet" title="Logo DisasterBet"/>
    </a>
    <nav>
      <ul class="literal-menu">
        <li><a href="funcionamos-facil.html">Funcionamos fácil</a></li>
        <li><a href="servicios.html">Servicios</a></li>
        <li><a href="glosario.html">Glosario</a></li>
        <li><a href="casas-de-apuestas.html">Casas de apuestas</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
      <div class="language-switcher"><a>España</a></div>
      <div class="social">
        <ul>
          <li>
            <a href="" title="Facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="" title="Twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="" title="Instagram"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="menu-toggle">
      <div></div>
    </div>
  </header>
  <main id="main">
    <section class="swiper-container hero-slider">
      <div class="swiper-wrapper">
      <div class="hero big text-white swiper-slide">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          </noscript>
        </picture>
        <div class="container data-container">
          <h1 class="col-l-8">Cursos Universitarios para hacer prácticas en Empresas</h1>
          <p class="col-l-8">Formamos en las distintas áreas funcionales del ámbito empresarial a través de formación competente y de calidad que permite incorporarse rápidamente a hacer prácticas en reputadas empresas.</p>
          <img class="logo-unir" src="../images/logo-unir-w.svg" alt="Logo Unir" title="Logo Unir"/>
        </div>
      </div>
      <div class="hero big text-white swiper-slide">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          </noscript>
        </picture>
        <div class="container data-container">
          <h1 class="col-l-8">Otro titular</h1>
          <p class="col-l-8">Otra descripcion</p>
          <img class="logo-unir" src="../images/logo-unir-w.svg" alt="Logo Unir" title="Logo Unir"/>
        </div>
      </div>
      <div class="hero big text-white swiper-slide">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://cdn.pixabay.com/photo/2020/10/25/09/34/pipit-5683656_960_720.jpg">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2020/10/25/09/34/pipit-5683656_960_720.jpg">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2020/10/25/09/34/pipit-5683656_960_720.jpg">
          </noscript>
        </picture>
        <div class="container data-container">
          <h1 class="col-l-8">Cursos Universitarios para hacer prácticas en Empresas</h1>
          <p class="col-l-8">Formamos en las distintas áreas funcionales del ámbito empresarial a través de formación competente y de calidad que permite incorporarse rápidamente a hacer prácticas en reputadas empresas.</p>
          <img class="logo-unir" src="../images/logo-unir-w.svg" alt="Logo Unir" title="Logo Unir"/>
        </div>
      </div>
      </div>
      <div class="hero-slider-pagination"></div>
    </section>
  </main>
  <footer id="footer">
    <div class="bg-c-grey-m-dark above-footer">
      <div class="container">
        <ul class="full-column">
          <li><i class="icon-job"></i>Prácticas inmediatas</li>
          <li><i class="icon-gift"></i>Aval de una universidad</li>
          <li><i class="icon-check-2"></i>Adaptado a tus necesidades</li>
          <li><i class="icon-computer"></i>Cursos 100% online</li>
        </ul>
      </div>
    </div>
    <div class="container medium-footer">
      <ul class="full-column">
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
        <li><a href="#" title="[title]">artes y humanidades</a></li>
        <li><a href="#" title="[title]">ciencias de la seguridad</a></li>
      </ul>
    </div>
    <div class="below-footer">
      <div class="container">
        <ul class="full-column">
          <li><a href="" title="[title]">Contacto</a></li>
          <li><a href="" title="[title]">FAQs</a></li>
          <li><a href="" title="[title]">Privacidad</a></li>
          <li><a href="" title="[title]">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</body>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</html>
